@import "../styles/colors";
@import "../styles/button-drop";

:host {
  display: flex;
  position: relative;
  align-items: center;
  flex-grow: 1;
  max-width: 400px;
}

svg {
  pointer-events: none;
  width: 1em;
  height: auto;
}

input {
  //padding: 0.7em;
  //border: 1px solid #eee;
  //border-radius: 0.5em;
  width: 100%;
  box-sizing: border-box;
  //transition-duration: 0.3s;

  //&:focus {
  //  border-color: $top-color;
  //}
}

button {
  position: absolute;
  right: 0.3em;
  transform: translateY(0.1em);
  background-color: transparent;
  border: 0 none;
  cursor: pointer;
  color: silver;
  transition-duration: 0.3s;

  &:hover {
    color: $top-color;
  }
}